.container {
  width: 400px;
}

.letter {
  border: 1px solid #ccc;
  border-radius: 5px;
  font-weight: bold;
  width: 34px;
  height: 34px;
  text-align: center;
  line-height: 32px;
  font-size: 24px;
}

.flex {
  display: flex;
}

.flex-wrap{
  margin-top: 10px;
  flex-wrap: wrap;
  gap: 5px;
}

.button {
  border-radius: 5px;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  height: 34px;
  width: 34px;
  text-align: center;
}

.guessed,
.hidden {
  display: none;
}